/* Color Codes
#FFFFF0 - Ivory
#ADA8B6 - Silver Chalice
#23022E - Middle Red Purple
#573280 - Regalia
#000000 - Registration Black
/*    background-color: #00F2F2;*/
/* Global
---------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
  background-color: white;
  margin-left: 1em;
  margin-right: 1em;
  box-sizing: border-box;
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Palatino", "Georgia", serif;
  max-width: 950px;
  margin-right: 15px;
  margin-left: 15px;
  /*
  display: flex;
  flex-direction: column;
*/
}

h1 {
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 1.5em;
  margin-top: 30px;
  text-align: center;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #000000;
}

p {
  line-height: 1.5em;
}

ul {
  list-style-type: circle;
  line-height: 2em;
}

blockquote {
  text-align: justify;
  line-height: 1.5em;
}

hr {
  border: 2px dashed teal;
}

.bio {
  text-align: justify;
}

.cv {
  /*  font-size: 1.5em;*/
  text-decoration: none;
  color: #096B72;
}

a:hover {
  text-decoration-line: none;
  border-bottom: 2px dashed #573280;
}

/* Navigation
---------*/
nav {
  padding-top: 20px;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  position: relative;
}

.nav-title {
  font-size: 2em;
  padding: 5px 5px 0px 5px;
  margin: 10px 10px;
  text-transform: uppercase;
}

.nav-page {
  margin: 5px;
  padding: 2px;
}

nav a:link {
  margin: 5px 5px;
  text-decoration: none;
  color: black;

  &:hover {
    border-bottom:
  }
}

nav a:visited {
  color: #000000;
}

/* ----------------------
Header
-------------------------*/
header {
  text-align: center;
  /*  max-width: 800px;*/
  border-width: auto;
  border: 1px solid black;
  box-shadow: 0px 5px 5px 5px #573280;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* ---------------------
Footer
-----------------------*/
.footer {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-top: auto;
  width: 100%;
  /*  width: auto;*/
  background: teal;
  position: relative;
  bottom: 0;
  height: 50px;
}

.footer p {
  margin: auto;
  text-align: center;
}

/*----------------------
Home/Index
-----------------------*/
.container-profile {
  margin: 20px;
}

.home-text {
  float: left;
  width: 40%;
  height: 100px;
  margin-top: auto;
  text-align: left;
  line-height: 1.5;
}

.img-profile {
  float: right;
  margin-right: 20px;
  max-width: 50%;
  height: auto;
  width: auto;
  box-shadow: 2px 2px 2px 2px #573280;
}

/* ----------------------
Publications
-----------------------*/
.publication {
  max-width: 900px;
  margin: 5px auto;
  padding: 5px;
  overflow: hidden;
  border-top: 2px dashed teal;
}

.pub-title {
  width: 30%;
  float: left;
  padding-right: 10px;
  min-height: 150px;
  color: #573280;
}

.pub-abstract {
  width: 70%;
  float: right;
  text-align: justify;
  padding-left: 10px;
  min-height: 150px;
}

.pub-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

/* ----------------------
Teaching
-----------------------*/
p {
  text-align: justify;
}

.teaching-note {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

/* ----------------------
Bio
-----------------------*/

.container-bio {
  margin: 10px;
  height: auto;
  overflow: hidden;
}

.bio-fig {
  float: left;
  font-size: 12px;
}

.bio-img {
  max-width: 40%;
  height: auto;
  width: auto;
}

.bio-txt {
  width: 55%;
  float: right;
  height: auto;

  /*  margin-top: auto;*/
  /*  text-align: left;*/
  /*  line-height: 1.5;*/
}


/*
.container-bio {
  display: flex;
  flex-flow: row wrap;
}

.bio-img {
  max-width: 40%;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
}

.bio-text {
  max-width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
}
*/
